body, html {
    height: 100%;
    margin: 0;
}

.home{
    background: url("./5240.jpg") no-repeat; 
    height:800px; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}